.contact-cta{
    width: 80%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: var(--color-primary);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: white;
}

.cta-btn{
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    text-decoration: none;
}