/* Features.css */

.features-section {
    padding: 80px 20px;
    background-color: var(--color-text-light); /* White/light background for contrast */
    text-align: center;
    margin: 0 auto;
}

.features-header {
    margin-bottom: 60px;
}

.features-header h2 {
    font-family: var(--font-family-header);
    font-size: 2.5rem;
    color: var(--color-primary); /* Use a rich color */
    margin-bottom: 10px;
}

.features-header p {
    font-family: var(--font-family-body);
    font-size: 1.1rem;
    color: var(--color-text-dark);
}

.features-grid {
    display: grid;
      grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns */
    justify-content: space-between;
    gap: 30px;
}

.features_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.features_content{
    flex: 1 1 200px;
}
.feature-card {
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.feature-icon {
    font-size: 3rem; /* Large icon size (replace with actual icons later) */
    color: var(--color-accent-gold);
    margin-bottom: 15px;
}

.feature-card h3 {
    font-family: var(--font-family-header);
    font-size: 1.4rem;
    color: var(--color-text-dark);
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 0.95rem;
    color: #666;
}


.features_img{
    width: 400px;
    height:500px;

}
.features_img img{
    width: 100%;
    height: 100%;
}


.features_img_container{
max-height: 800px;
max-width: 800px;
overflow: hidden;
}

.features_img_container img{        
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}